 .u-section-1 {
  background-image: url("images/Aesthetic_Dream_Space_HD_Desktop_wallpaper_16_1366x768.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 421px;
}

.u-section-1 .u-group-1 {
  width: 766px;
  height: auto;
  min-height: 336px;
  margin: 8px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  width: 348px;
  margin: 19px 192px 0 -9px;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  width: auto;
  font-style: normal;
  margin: 9px 3px 0 1px;
}

.u-section-1 .u-text-3 {
  letter-spacing: 1px;
  margin: 8px 429px 0 -13px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 4.6875rem;
  background-image: none;
  margin: 47px -57px 0 -13px;
}

.u-section-1 .u-text-5 {
  font-size: 2.75rem;
  font-weight: 700;
  margin: 24px 319px 0 -13px;
}

.u-section-1 .u-image-1 {
  width: 112px;
  height: 94px;
  margin: -331px 0 0 auto;
}

.u-section-1 .u-image-2 {
  width: 476px;
  height: 248px;
  filter: brightness(0.85);
  margin: -9px 37px 0 auto;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: -14px 537px 13px -32px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 264px;
  }

  .u-section-1 .u-text-3 {
    position: relative;
  }

  .u-section-1 .u-text-4 {
    position: relative;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 84px;
    margin-right: 322px;
    margin-left: -16px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -314px;
    margin-right: 19px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 45px;
    margin-right: 30px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -85px;
    margin-right: 437px;
    margin-bottom: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-1 .u-group-1 {
    min-height: 354px;
    margin-top: 14px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 241px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 406px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 95px;
    margin-right: 283px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -320px;
  }

  .u-section-1 .u-image-2 {
    width: 296px;
    height: 254px;
    margin-top: -71px;
    margin-right: 64px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 51px;
    margin-right: 88px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-1 .u-group-1 {
    min-height: 369px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 70px;
    margin-right: 137px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -182px;
    margin-right: 151px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 6rem;
  }

  .u-section-1 .u-text-5 {
    margin-top: 267px;
    margin-right: 103px;
    margin-bottom: -33px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -380px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 249px;
    height: 199px;
    margin-top: 44px;
    margin-right: 0;
    margin-bottom: 60px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 54px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 335px;
  }

  .u-section-1 .u-group-1 {
    min-height: 317px;
    margin-top: 19px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-top: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-style: italic;
  }

  .u-section-1 .u-text-3 {
    position: relative;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    margin: 121px 87px 0 10px;
  }

  .u-section-1 .u-image-1 {
    width: 89px;
    height: 75px;
    margin-top: -308px;
    margin-right: -10px;
  }

  .u-section-1 .u-image-2 {
    width: 134px;
    height: 134px;
    margin-top: 38px;
    margin-right: 55px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 2660px;
}

.u-section-2 .u-image-1 {
  min-height: 828px;
  height: auto;
  background-image: url("images/3dMap3.png");
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-group-2 {
  min-height: 1120px;
  height: auto;
  width: 1140px;
  margin: 30px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.875rem;
  font-weight: 700;
  margin: 0 -35px 0 55px;
}

.u-section-2 .u-line-1 {
  width: 100px;
  margin: 23px auto 0 18px;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 357px;
  margin: 30px 503px 0 0;
}

.u-section-2 .u-video-1 {
  width: 509px;
  height: 350px;
  margin: -357px auto 0 631px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-video-2 {
  height: 626px;
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-2 .embed-responsive-2 {
  position: absolute;
}

.u-section-2 .u-group-3 {
  min-height: 614px;
  height: auto;
  width: 1140px;
  margin: 28px auto 40px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.875rem;
  font-weight: 700;
  margin: 17px -23px 0 43px;
}

.u-section-2 .u-image-2 {
  width: 53px;
  height: 53px;
  margin: -59px 93px 0 auto;
}

.u-section-2 .u-line-2 {
  width: 100px;
  margin: 23px auto 0 43px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -26px 30px 0 auto;
}

.u-section-2 .u-custom-html-2 {
  height: auto;
  min-height: 467px;
  width: 1065px;
  margin: 30px 32px 0 43px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 2965px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 1px;
    min-height: 598px;
    height: auto;
  }

  .u-section-2 .u-group-2 {
    margin-top: 0;
    min-height: 1719px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: -23px;
    margin-left: 23px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 8px;
    margin-left: 23px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 39px;
    margin-right: 240px;
    margin-left: 163px;
  }

  .u-section-2 .u-video-1 {
    height: 700px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-video-2 {
    height: 524px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 0;
    margin-bottom: 1px;
    min-height: 647px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 29px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 23px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -58px;
  }

  .u-section-2 .u-line-2 {
    margin-top: 8px;
    margin-left: 23px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-custom-html-2 {
    margin-top: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 2889px;
  }

  .u-section-2 .u-group-2 {
    min-height: 1586px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: 133px;
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-2 .u-line-1 {
    margin-left: 42px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 632px;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-video-1 {
    height: 527px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-video-2 {
    height: 405px;
    margin-top: 0;
  }

  .u-section-2 .u-group-3 {
    min-height: 703px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 29px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 16px;
  }

  .u-section-2 .u-line-2 {
    margin-top: 10px;
  }

  .u-section-2 .u-custom-html-2 {
    margin-top: 42px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1454px;
  }

  .u-section-2 .u-image-1 {
    min-height: 375px;
  }

  .u-section-2 .u-group-2 {
    min-height: 821px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: 14px;
    margin-right: -27px;
    margin-left: 27px;
  }

  .u-section-2 .u-line-1 {
    margin-left: 27px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 540px;
    margin-top: 54px;
  }

  .u-section-2 .u-video-1 {
    height: 403px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-video-2 {
    height: 285px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 8px;
    min-height: 249px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 23px;
    padding-bottom: 37px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
    margin-right: 8px;
    margin-left: 27px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -35px;
    margin-right: 44px;
  }

  .u-section-2 .u-line-2 {
    margin-top: -10px;
    margin-left: 27px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 28px;
    margin-right: auto;
    padding: 9px 235px 11px 233px;
  }

  .u-section-2 .u-custom-html-2 {
    min-height: 457px;
    margin-top: 16px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 979px;
  }

  .u-section-2 .u-image-1 {
    min-height: 265px;
  }

  .u-section-2 .u-group-2 {
    min-height: 585px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 13px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-line-1 {
    margin-left: 21px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 340px;
    margin-top: 30px;
  }

  .u-section-2 .u-video-1 {
    height: 251px;
    margin-top: 7px;
    transition-duration: 0.5s;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-video-2 {
    height: 244px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 144px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 11px;
    margin-left: 36px;
  }

  .u-section-2 .u-image-2 {
    width: 50px;
    height: 47px;
    margin-top: -9px;
    margin-right: auto;
    margin-left: 159px;
  }

  .u-section-2 .u-line-2 {
    margin-top: -23px;
    margin-left: 36px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -25px;
    margin-right: 24px;
    padding: 7px 18px 8px 17px;
  }

  .u-section-2 .u-custom-html-2 {
    margin-top: 10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-2 .u-video-1,
.u-section-2 .u-video-1:before,
.u-section-2 .u-video-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
} .u-section-3 {
  background-image: none;
  min-height: 50vw;
}

.u-section-3 .u-image-1 {
  width: 680px;
  height: 464px;
  margin: 52px auto 0 560px;
}

.u-section-3 .u-image-2 {
  width: 702px;
  height: 541px;
  margin: -484px auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 879px;
  min-height: 453px;
  height: auto;
  margin: -453px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 112px 73px 0;
}

.u-section-3 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 20px 20px 0;
}

.u-section-3 .u-image-3 {
  width: 369px;
  height: 136px;
  margin: -517px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 595px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 4px;
    margin-left: 260px;
  }

  .u-section-3 .u-image-2 {
    height: 501px;
    margin-top: -444px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -422px;
    height: auto;
  }

  .u-section-3 .u-image-3 {
    margin-top: -526px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 593px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 2px;
    margin-left: 40px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 575px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 369px;
    margin-top: 10px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 385px;
    margin-top: -389px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    min-height: 531px;
    margin-top: -355px;
    margin-right: auto;
  }

  .u-section-3 .u-image-3 {
    width: 226px;
    height: 83px;
    margin-top: -530px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 725px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 232px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 242px;
    margin-top: -212px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    min-height: 685px;
    margin-top: -262px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -674px;
  }
} .u-section-4 {
  background-image: url("images/d7602255848ab028e47a16d5ebcc8d18.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 438px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.u-section-4 .u-image-1 {
  min-height: 399px;
  background-image: url("images/James.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 7px;
  padding-right: 7px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 399px;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-4 .u-image-1 {
    min-height: 329px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 350px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 214px;
  }

  .u-section-4 .u-image-1 {
    min-height: 252px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 268px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-4 .u-image-1 {
    min-height: 378px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 402px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-4 .u-image-1 {
    min-height: 238px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 253px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 395px;
}

.u-section-5 .u-image-1 {
  height: 349px;
  margin: 20px 0 26px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 337px;
  }

  .u-section-5 .u-image-1 {
    height: 296px;
    margin-top: 21px;
    margin-bottom: 21px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 263px;
  }

  .u-section-5 .u-image-1 {
    height: 236px;
    margin-top: 13px;
    margin-bottom: 14px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 205px;
  }

  .u-section-5 .u-image-1 {
    height: 168px;
    width: 590px;
    margin: 17px auto 20px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 133px;
  }

  .u-section-5 .u-image-1 {
    height: 114px;
    width: 390px;
    margin-top: 7px;
    margin-bottom: 12px;
  }
}